[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
openpyxl = "*"
flask-sqlalchemy = "*"
flask-cors = "*"

[dev-packages]
ipython = "*"
requests = "*"
pytest = "*"
pyyaml = "*"
pytest-datadir = "*"

[requires]
python_version = "3.9"
